section#experiences {
    padding: 0 12%;
    /* padding-top: 80px; */
    padding-bottom: 20px;
}

section#experiences article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 55px;
}

section#experiences article .description {
    width: 65%;
    margin-right: 40px;
    display: flex;
    align-items: flex-start;
}

section#experiences article .description .icon {
    /* display: inline-block; */
    border-radius: 50%;
    width: 60px;
    min-width: 60px;
    height: 60px;
    padding: 8px;
}

section#experiences article .description .icon img {
    width: 100%;
    height: 100%;
    /* width: 60px;
    height: 60px; */
}

section#experiences article .description .summary {
    /* display: inline-block; */
    padding-left: 20px;
    color: white;
}

section#experiences article .description .summary h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

section#experiences article .description .summary h5 {
    font-size: 1.05em;
    margin-bottom: 5px;
    color: rgb(195, 195, 195);
}

section#experiences article .description .summary h5 sub {
    font-size: 0.8em;
    color: #8f8f8f;
    display: block;
    padding-top: 3px;
    padding-bottom: 5px;
}

section#experiences article .description .summary time {
    float: right;
    color: #8f8f8f;
    font-size: .8em;
}

section#experiences article .description .summary p {
    text-align: justify;
}

section#experiences article .linked-projects {
    position: relative;
    display: inline-block;
    width: 35%;
}

section#experiences article .linked-projects .top-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}

section#experiences article .linked-projects .bottom-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}

section#experiences article .linked-projects .left-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}

section#experiences article .linked-projects .right-scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}

section#experiences article .linked-projects .container {
    overflow-y: scroll;
}

section#experiences article .linked-projects > .container > img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    section#experiences {
        padding: 4%;
    }

    section#experiences article {
        flex-direction: column;
    }

    section#experiences article .description {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    section#experiences article .linked-projects {
        width: 100%;
        margin-bottom: 20px;
    }

    section#experiences article .linked-projects .container {
        display: flex;
        overflow-x: scroll;
    }

    section#experiences article .linked-projects .container img {
        width: 33%;
        height: auto;
        margin-right: 10px;
        margin-bottom: 0;
    }
}