section#experiences {
    padding: 12%;
}

section#experiences article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

section#experiences article .description {
    width: 70%;
    margin-right: 40px;
    display: flex;
    align-items: flex-start;
}

section#experiences article .description .icon {
    /* display: inline-block; */
    border-radius: 50%;
}

section#experiences article .description .icon img {
    /* width: 100%;
    height: 100%; */
    padding: 10px;
    width: 60px;
    height: 60px;
}

section#experiences article .description .summary {
    /* display: inline-block; */
    padding-left: 20px;
    color: white;
}

section#experiences article .description .summary h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

section#experiences article .description .summary h5 {
    font-size: 1.05em;
    margin-bottom: 5px;
}

section#experiences article .description .summary time {
    float: right;
    color: #8f8f8f;
}

section#experiences article .description .summary p {
    text-align: justify;
}

section#experiences article .linked-progects {
    display: inline-block;
    width: 25%;
}

section#experiences article .linked-progects img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    section#experiences {
        padding: 4%;
    }

    section#experiences article {
        flex-direction: column;
    }

    section#experiences article .description {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    section#experiences article .linked-progects {
        width: 100%;
        margin-bottom: 20px;
    }

    section#experiences article .linked-progects img {
        width: 33%;
        height: auto;
    }
}