nav#navigation {
    position: fixed;
    z-index: 1000;
    /* background-color: #0C0A27; */
    background: linear-gradient(to right, #0f0d32f5, #06050cf5);
    box-shadow: 0 0 30px #310f4d;
    /* opacity: 0.7; */
    color: white;
    padding: 10px;
    border-radius: 50px;
    top: 30px;
    left: 40px;
}

nav#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#navigation ul li {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    background: rgba(187, 36, 225, 0);
    transition: .1s;
}

nav#navigation ul li:hover {
    /* background: rgba(47, 113, 255, 0.615); */
    background: rgba(187, 36, 225, 0.615);
    transition: .15s;
}

nav#navigation ul li a {
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    color: rgb(216, 216, 216);
}

nav#navigation ul li:hover a {
    color: white
}


/* Small and X-Small */
@media screen and (max-width: 768px) {
    nav#navigation {
        /* background-color: #c1c1c19e; */
        width: 95%;
        left: 2.5%;
        top: 7px;
        padding: 7px;
        text-align: center;
    }

    nav#navigation ul li {
        padding: 4px 12px;
    }

    nav#navigation ul li a {
        font-size: 0.9em;
    }
}

/* X-Small */
@media screen and (max-width: 576px) {
    nav#navigation ul li a {
        font-size: 0.7em;
        padding: 3px 8px;
    }
}

/* Small */
@media screen and (max-width: 768px) and (min-width: 576px) {
}

/* Large */
@media screen and (min-width: 992px) {
}