section#projects {
    width: 100%;
    height: 800px;
    /* background-color: #386cac; */
    padding: 20px;
    padding-top: 40px;
}

section#projects #tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    user-select: none;
}

section#projects #tags div {
    font-size: 1em;
    background: #C0C7D2;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    margin: 0 5px;
    cursor: pointer;
}

section#projects #tags div:hover { background: #a9b8d0; }
section#projects #tags div:active { background: #8694aa; }
section#projects #tags div.active { background: #3284CC; }
section#projects #tags div.active:hover { background: #2071b8; }
section#projects #tags div.active:active { background:rgb(24, 98, 163); }

section#projects article {
    width: 100%;
    margin-bottom: 20px;
}

section#projects article div.thumbnail {
    display: inline-block;
    width: 35%;
    border-radius: 5px;
    vertical-align: top;
    overflow: hidden;
}

section#projects article div.thumbnail img {
    width: 100%;
    border-radius: 5px;
}

section#projects article div.details {
    display: inline-block;
    width: calc(65% - 25px);
    height: 100%;
    margin-left: 15px;
    padding: 20px;
    background-color: #619fd989;
    box-shadow: 0 0 5px #619fd97a;
    border-radius: 5px;
    vertical-align: top;
}

section#projects article div.details .container {
    display: flex;
}

section#projects article div.details .container #icon {
    margin-right: 20px;
}

section#projects article div.details #icon div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 8px;
    background-color: #F0F4FB;
}
section#projects article div.details .title {
    color: #F0F4FB;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 1.4em;
}

section#projects article div.details .description {
    color: #E2E9F8;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

section#projects article div.details a {
    display: block;
    padding-top: 8px;
    color: rgb(101, 206, 255);
    text-decoration: none;
}
section#projects article div.details a:hover { color: rgb(79, 182, 231); }
section#projects article div.details a:active { color: rgb(58, 158, 201); }

@media screen and (max-width: 768px) {
    section#projects #tags div {
        font-size: 0.7em;
        padding: 6px 12px;
    }

    section#projects article div.thumbnail { border-radius: 10px; }
    section#projects article div.thumbnail img { border-radius: 10px; }

    section#projects article div.thumbnail {
        position: relative;
        width: 97%;
        margin-left: 1.5%;
        margin-bottom: 0;
        border-radius: 10px;
        z-index: 100;
        /* box-shadow: 0 0px 6px rgb(0, 0, 0); */
    }

    section#projects article div.thumbnail img {
        box-shadow: 0 0px 6px rgb(0, 0, 0);
    }

    section#projects article div.details {
        position: relative;
        z-index: 99;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
        margin-top: -10px;
        padding-top: 23px;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    section#projects article div.details .title {
        font-size: 1.1em;
    }

    section#projects article div.details .description {
        font-size: 0.8em;
    }
}