* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section > .title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.8em;
}

body {
    background-color: #120D37;
}

#entire-page-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
    background-image: url("/images/background.png");
    background-size: 200%;
    background-position: center;

    /* background-size: cover;
    filter: brightness(0.7); */
    
    background-size: 150%;
    filter: brightness(1);
    animation: backgroundAnimation 2s forwards;
    animation-delay: 0.5s;
}

@keyframes backgroundAnimation {
    0% {
        background-size: 150%;
        filter: brightness(1);
    }
    99% {
        background-size: 100%;
        filter: brightness(0.7);
    }
    100% {
        background-size: cover;
        filter: brightness(0.7);
    }
}

#change-language {
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    line-height: 40px;;
    text-align: center;
    border-radius: 50%;
    border: none;
    /* background: linear-gradient(215deg, #0a0826f5, #221958f5); */
    background: linear-gradient(215deg, #100d3df5, #352980f5);
    box-shadow: 0 0 19px rgba(82, 6, 166, 0.83);
    color: rgba(226, 195, 255, 1);
    font-size: 1.3em;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.7;
    filter: brightness(0.8);
    transition: .5s;
}
#change-language:hover { opacity: 0.9; filter: brightness(1.2); }
#change-language:active { opacity: 1; filter: brightness(1) }