* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section > .title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.4em;
}

#entire-page-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
    background-image: url("/images/background.png");
    background-size: 200%;
    background-position: center;

    /* background-size: cover;
    filter: brightness(0.7); */
    
    background-size: 150%;
    filter: brightness(1);
    animation: backgroundAnimation 2s forwards;
    animation-delay: 0.5s;
}

@keyframes backgroundAnimation {
    0% {
        background-size: 150%;
        filter: brightness(1);
    }
    99% {
        background-size: 100%;
        filter: brightness(0.7);
    }
    100% {
        background-size: cover;
        filter: brightness(0.7);
    }
}